/* Apply background color to the entire dashboard */
.block-container {
    background-color: #00172B;  /* Dark background color */
    color: #DCDCDC;  /* Light text color for readability */
    font-family: 'sans-serif';
}

/* Apply background color to the filter widgets */
.stSelectbox, .stRadio, .stButton {
    background-color: #0083B8; /* Secondary background color for widgets */
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* Slightly darker shadow */
    color: #DCDCDC; /* Light text color for contrast */
    font-family: 'sans-serif';
}

/* Customizing filter text and dropdown */
.stSelectbox select {
    font-size: 16px;
    color: #DCDCDC; /* Light text color for dropdown */
    background-color: #00172B; /* Dark background for dropdown options */
    border-radius: 5px;
    border: 1px solid #66b3ff; /* Blue border */
    padding: 5px;
}

.stSelectbox label {
    color: #E694FF; /* Primary color for labels */
    font-weight: bold;
}

/* Styling buttons */
.stButton {
    background-color: #E694FF; /* Primary color for buttons */
    color: #00172B; /* Dark text color for contrast */
    font-weight: bold;
    border-radius: 10px;
    padding: 8px 16px;
    border: none; /* Remove default border */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition */
}

.stButton:hover {
    background-color: #D47CFF; /* Lighter primary color on hover */
}

/* Dropdown focus effect */
.stSelectbox select:focus {
    border: 2px solid #D47CFF; /* Lighter primary color border on focus */
    outline: none;
}

/* Hover effect for labels */
.stSelectbox label:hover {
    color: #1abc9c; /* Aqua color for hover effect */
}
